	<!-- Menu section - START -->
		<div class="responsive-hide">
			<div class="forumbg">
					<div class="inner">
						<div class="solidblockmenu">
							<ul>
								<li><a href="#" title="Your title link">Your Link</a></li>
								<li><a href="#" title="Your title link">Your Link</a></li>
								<li><a href="#" title="Your title link">Your Link</a></li>
								<li><a href="#" title="Your title link">Your Link</a></li>
								<li><a href="#" title="Your title link">Your Link</a></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	<!-- Menu section - END -->